.btn-info-agendar {
  background-color: #98FB98;
  border-color: #90EE90;
}

.btn-info-agendar:hover {
  background-color: #98FB98;
}


.btn-roxo {
  color: #fff;
  background-color: #6D0FE8;
  border-color: #9703E8;
}

.btn-roxo:hover {
  color: #fff;
  background-color: #722EFF;
  border-color: #9703E8;
}
