.backgroud-body {
  background-color: #f5f5f5;
}

.selector-for-some-widget {
  box-sizing: content-box;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-left-10 {
  margin-left: 10px;
}

.margin-right-5 {
  margin-right: 5px;
}

.title {
  margin: 0 auto 20px auto;
  text-align: center;
}

.link {
  color: #1C1C1C;
  text-decoration: none;
}

.link:hover {
  color: #363636;
  text-decoration: underline;
}

.responsive-link {
  margin-top: 0;
}

.button-atualizar {
  float: right;
}

.centralizar-filter {
  align-items: center;
  width: 350px;
}