{% extends 'base.html' %}

{% block title %} Cliente {% endblock %}

{% block navbar %}
    {% include "components/_navbar.html" %}
{% endblock %}

{% block content %}
    {% include 'components/_messages.html' %}

    <div>
        <h4 class="title">Dados do Cliente</h4>
        <p>Nome: <strong>{{ cliente.nome|title }}</strong></p>
        {% if cliente.codigo_ciss is not null %}
            <p>Código no CISS: <strong>{{ cliente.codigo_ciss }}</strong></p>
        {% endif %}
        <p>Telefone: <strong>{{ cliente.telefone1 }}</strong></p>
        {% if cliente.telefone2 is not null %}
            <p>Telefone Secundário: <strong>{{ cliente.telefone2 }}</strong></p>
        {% endif %}

        <input type="submit" class="btn btn-success" value="Editar Informações"
               onclick="location.href='{% url 'update_cliente' cliente.id %}'">

        <input type="reset" class="btn btn-secondary" value="Voltar"
               onclick="location.href='{% url 'list_clintes' %}'">
    </div>
    <hr>
    <div>
        <h3 class="title">Ferramentas</h3>

        <input type="submit" class="btn btn-success" value="Adicionar Ferramenta"
               onclick="location.href='{% url 'create_ferramenta' cliente.id %}'">

        {% if ferramentas|length != 0 %}
            <table class="table table-hover margin-top-10">
                <thead>
                <tr>
                    <th colspan="3">Nome</th>
                    <th scope="col">Ações</th>
                </tr>
                </thead>
                <tbody>
                {% for ferramenta in ferramentas %}
                    <tr>
                        <td colspan="3">
                            {% if ferramenta.numero_serie is not null %}
                                <a class="link" href="{% url 'detail_ferramenta' ferramenta.id %}">
                                    <strong>{{ ferramenta.nome }} - {{ ferramenta.numero_serie }}</strong>
                                </a>
                            {% else %}
                                <a class="link" href="{% url 'detail_ferramenta' ferramenta.id %}">
                                    <strong>{{ ferramenta.nome }}</strong>
                                </a>
                            {% endif %}
                        </td>
                        <td>

                            <input type="submit" class="btn btn-warning btn-sm responsive-link" value="Editar"
                                   onclick="location.href='{% url 'update_ferramenta' ferramenta.id %}'">
                        </td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p class="margin-top-10"><strong>Cliente não possui ferramentas cadastradas</strong></p>
        {% endif %}
    </div>

{% endblock %}

{% block scripts %}
    {% include "components/_messages-js.html" %}
{% endblock %}
