{% extends 'base.html' %}

{% block title %} Clientes {% endblock %}

{% block content %}
    <h4 class="title">Lista de Clientes</h4>
    <div>
        <div class="margin-bottom-10">
            <form method="get" action="">
                <div class="form-group row">
                    <div class="col-12">
                        <input class="form-control"
                               type="search" value="{{ request.GET.termo }}"
                               id="search-input"
                               placeholder="Digite o nome do cliente para pesquisa"
                               autocomplete="off"
                               name="termo">
                    </div>
                </div>
            </form>
        </div>

        <input type="submit" class="btn btn-success margin-bottom-10" value="Cadastrar Cliente"
               onclick="location.href='{% url 'create_cliente' %}'">

        {% include 'components/_messages.html' %}

        {% if clientes|length != 0 %}

            <table class="table table-hover">
                <tbody>
                {% for cliente in  clientes %}
                    <tr>
                        <th colspan="2">
                            <a class="link" href="{% url 'detail_cliente' cliente.id %}">{{ cliente.nome|upper }}</a>
                        </th>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {% include 'components/_paginator.html' %}

        {% else %}
            <h3>Nenhum cliente cadastrado</h3>
        {% endif %}
    </div>
{% endblock %}

{% block scripts %}
    {% include "components/_messages-js.html" %}
{% endblock %}
