{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block title %} Agendamento Rápido {% endblock %}

{% block content %}
    <h3 class="title">Agendar Manutenção</h3>
    <div class="form-floating mb-3">
        <h5>Ferramenta: <strong>{{ ferramenta.nome }}</strong></h5>
        <hr>
        <form method="post" enctype="multipart/form-data" autocomplete="off">
            {% csrf_token %}
            <div class="row">
                <div class="col-sm margin-bottom-10">
                    {{ form.data_manutencao|as_crispy_field }}
                    {{ form.data_manutencao|as_crispy_errors }}
                </div>
            </div>

            <input type="submit" class="btn btn-success" value="Agendar">

            <input type="reset" class="btn btn-secondary" value="Voltar"
                   onclick="location.href='{% url 'detail_cliente' ferramenta.cliente.id %}'">
        </form>
    </div>

{% endblock %}