{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block title %} Alterando dados da Manutenção {% endblock %}

{% block content %}
    <h3 class="title">Alteração de dados da Manutenção</h3>
    <div class="form-floating mb-3">
        <p>Cliente: <strong>{{ ferramenta.cliente.nome|title }}</strong></p>
        <p>Ferramenta: <strong>{{ ferramenta.nome|title  }}</strong></p>
        <hr>
        <form method="post" enctype="multipart/form-data" autocomplete="off">
            {% csrf_token %}
            <div class="row">
                <div class="col-sm margin-bottom-10">
                    {{ form.data_manutencao|as_crispy_field }}
                    {{ form.data_manutencao|as_crispy_errors }}
                </div>
                <div class="col-sm margin-bottom-10">
                    {{ form.local|as_crispy_field }}
                    {{ form.local|as_crispy_errors }}
                </div>
                <div class="col-sm margin-bottom-10">
                    {{ form.status_manutencao|as_crispy_field }}
                    {{ form.status_manutencao|as_crispy_errors }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm margin-bottom-10">
                    {{ form.observacoes|as_crispy_field }}
                    {{ form.observacoes|as_crispy_errors }}
                </div>
            </div>
            <div class="row margin-bottom-10">
                <div class="col-sm margin-bottom-10">
                    {{ form.valor|as_crispy_field }}
                    {{ form.valor|as_crispy_errors }}
                </div>
                <div class="col-sm margin-bottom-10">
                    {{ form.numero_os|as_crispy_field }}
                    {{ form.numero_os|as_crispy_errors }}
                </div>
            </div>

            <input type="submit" class="btn btn-success" value="Alterar Dados">

            <input type="reset" class="btn btn-secondary" value="Voltar"
                   onclick="location.href='{% url 'detail_ferramenta' ferramenta.id %}'">
        </form>
    </div>

{% endblock %}