{% extends 'base.html' %}

{% block title %} Assistência Técnica {% endblock %}

{% block content %}

    <h4 class="title">Manutenções</h4>
    <hr>

    <div class="row row-cols-1 row-cols-md-4 mb-4 text-center">

        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3 text-white bg-primary border-primar">
                    <h4 class="my-0 fw-normal">Agendadas</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">{{ agendadas }}</h1>
                    <input type="submit" class="w-100 btn btn-lg btn-outline-primary" value="Visualizar"
                           onclick="location.href='{% url 'list_agendadas' %}'">
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3 text-white bg-success border-primar">
                    <h4 class="my-0 fw-normal">Para Hoje</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">{{ agendadas_hoje }}</h1>
                    <input type="submit" class="w-100 btn btn-lg btn-outline-success" value="Visualizar"
                           onclick="location.href='{% url 'list_agendadas_hoje' %}'">
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3 text-white bg-danger border-primar">
                    <h4 class="my-0 fw-normal">Atrasadas</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">{{ atrasadas }}</h1>
                    <input type="submit" class="w-100 btn btn-lg btn-outline-danger" value="Visualizar"
                           onclick="location.href='{% url 'list_atrasadas' %}'">
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3 text-white bg-dark border-primar">
                    <h4 class="my-0 fw-normal">Concluídas</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">{{ concluidas }}</h1>
                    <input type="submit" class="w-100 btn btn-lg btn-outline-dark" value="Visualizar"
                           onclick="location.href='{% url 'list_concluidas' %}'">
                </div>
            </div>
        </div>
    </div>

    {% include "components/_messages.html" %}

{% endblock %}
