{% extends 'base.html' %}

{% block title %} {{ ferramenta.nome|title }} {% endblock %}

{% block content %}
    {% include 'components/_messages.html' %}

    <h4 class="title">Dados da Ferramenta</h4>
    <div>
        <p>Cliente: <strong>{{ ferramenta.cliente.nome|title }}</strong></p>
        <p>Ferramenta: <strong>{{ ferramenta.nome|title }}</strong></p>
        {% if ferramenta.numero_serie is not null %}
            <p>Número de série: <strong>{{ ferramenta.numero_serie }}</strong></p>
        {% endif %}
        {% if ferramenta.data_compra is not null %}
            <p>Data de compra: <strong>{{ ferramenta.data_compra|date:"d/m/Y" }}</strong></p>
        {% endif %}
        {% if ferramenta.observacoes is not null %}
            {% if ferramenta.observacoes != "" %}
                <p>Observações: <strong>{{ ferramenta.observacoes }}</strong></p>
            {% endif %}
        {% endif %}

        <input type="reset" class="btn btn-secondary" value="Voltar"
               onclick="location.href='{% url 'detail_cliente' cliente.id %}'">

    </div>
    <hr>
    <div>
        <h4 class="title">Manutenções</h4>

        <input type="submit" class="btn btn-success" value="Registrar Manutenção"
               onclick="location.href='{% url 'create_manutencao' ferramenta.id %}'">

        <a tabindex="0" class="btn btn-sm btn-light margin-left-10" role="button" data-bs-toggle="popover"
           data-bs-trigger="focus"
           title="Módulo de Manutenções" data-bs-content="<p>Permite registar manutenções avulsas no sistema, como:
           manutenções passadas da ferramenta ou agendar manutenções futuras.</p>
           <p>Clicando em <strong>Ver</strong> são exibidos os detalhes da manutenção.</p>
           <p>Clicando em <strong>Aletrar</strong>, <strong>Realizar</strong> ou <strong>Refazer</strong>
           permite que o usuário possa corrgir as informações de uma manutenção ou finalizar.
           Alguns campos opcionais podem ser preenchidos para melhorar o detalhamento da manutenção.</p>">
            Como usar?
        </a>

        {% if manutencoes|length != 0 %}
            <table class="table table-hover margin-top-10">
                <thead>
                <tr>
                    <th colspan="3">Data da Manutenção</th>
                    <th colspan="3">Local</th>
                    <th colspan="3">Status</th>
                    <th scope="col">Ações</th>
                </tr>
                </thead>
                <tbody>
                {% for manutencao in manutencoes %}
                    <tr>
                        <td colspan="3">
                            <strong>{{ manutencao.data_manutencao|date:"d/m/Y" }}</strong>
                        </td>
                        <td colspan="3">
                            <strong>{{ manutencao.local }}</strong>
                        </td>
                        <td colspan="3">
                            <strong>{{ manutencao.status_manutencao }}</strong>
                        </td>
                        <td>
                            {% if manutencao.status_manutencao == "Agendada" %}
                                <input type="submit" class="btn btn-success btn-sm" value="Realizar"
                                       onclick="location.href='{% url 'update_manutencao' manutencao.id %}'">
                            {% elif manutencao.status_manutencao == "Atrasada" %}
                                <input type="submit" class="btn btn-danger btn-sm" value="Realizar"
                                       onclick="location.href='{% url 'update_manutencao' manutencao.id %}'">
                            {% elif manutencao.status_manutencao == "Cancelada" %}
                                <input type="submit" class="btn btn-warning btn-sm" value="Alterar"
                                       onclick="location.href='{% url 'update_manutencao' manutencao.id %}'">
                            {% elif manutencao.status_manutencao == "Concluída" %}
                                <input type="submit" class="btn btn-secondary btn-sm" value="Refazer"
                                       onclick="location.href='{% url 'update_manutencao' manutencao.id %}'">
                            {% endif %}
                            <button class="btn btn-primary btn-sm responsive-link"
                                    onclick="carregarModal({{ manutencao.id }})"
                                    data-bs-toggle="modal"
                                    data-bs-target="#modal-manutencao">
                                Visualizar
                            </button>
                        </td>
                    </tr>
                    <div class="modal fade" id="modal-manutencao" data-bs-backdrop="static" data-bs-keyboard="false"
                         tabindex="-1" aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content" id="corpo_manutencao">

                            </div>
                        </div>
                    </div>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p class="margin-top-10">Nenhuma manutenção registrada</p>
        {% endif %}
    </div>

{% endblock %}

{% block scripts %}
    {% include "components/_messages-js.html" %}
    <script>
        function carregarModal(id) {
            $.ajax({
                url: '/manutencao/' + id + '/visualizar',
                success: function (data) {
                    $('#corpo_manutencao').html(data)
                }, error: function (data) {
                },
            });
        }
    </script>
    <script>
        let popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
        let popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
            return new bootstrap.Popover(popoverTriggerEl, {html: true})
        });
    </script>
{% endblock %}
