{% extends 'base.html' %}

{% block title %} {{ ferramenta.nome }} {% endblock %}

{% block navbar %}
    {% include "components/_navbar.html" %}
{% endblock %}

{% block content %}
    {% include 'components/_messages.html' %}

    <div>
        <h4 class="margin-bottom-10">{{ ferramenta.nome }}</h4>
        {% if ferramenta.numero_serie is not null %}
            <p>Número de série: <strong>{{ ferramenta.numero_serie }}</strong></p>
        {% endif %}
        {% if ferramenta.data_compra is not null %}
            <p>Data de compra: <strong>{{ ferramenta.data_compra|date:"d/m/Y" }}</strong></p>
        {% endif %}


        <input type="reset" class="btn btn-secondary" value="Voltar"
                   onclick="location.href='{% url 'detail_cliente' cliente.id %}'">
    </div>
    <hr>
    <div>

        <input type="submit" class="btn btn-success" value="Iniciar Manutenção"
               onclick="location.href='#'">

    <!---
        {% if ferramentas|length != 0 %}
            <table class="table table-hover margin-top-10">
                <tbody>
                {% for ferramenta in ferramentas %}
                    <tr>
                        <td colspan="3">
                            <strong>{{ ferramenta.nome }}</strong>
                        </td>
                        <td>
                            <a href="{% url 'update_ferramenta' ferramenta.id %}">Editar</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p class="margin-top-10"><strong>Cliente não possui ferramentas cadastradas</strong></p>
        {% endif %}
        --->

    </div>

{% endblock %}

{% block scripts %}
    {% include "components/_messages-js.html" %}
{% endblock %}
