<nav class="navbar navbar-expand-lg navbar-dark bg-dark margin-bottom-10">
    <div class="container">
        <a class="navbar-brand" href="{% url 'dashboad' %}">Assistência Técnica</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07"
                aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample07">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'list_clintes' %}">Clientes</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown07" data-bs-toggle="dropdown"
                       aria-expanded="false">Manutenções</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown07">
                        <li><a class="dropdown-item" href="{% url 'list_agendadas' %}">Agendadas</a></li>
                        <li><a class="dropdown-item" href="{% url 'list_agendadas_hoje' %}">Agendadas para Hoje</a></li>
                        <li><a class="dropdown-item" href="{% url 'list_atrasadas' %}">Atrasadas</a></li>
                        <li><a class="dropdown-item" href="{% url 'list_concluidas' %}">Concluídas</a></li>
                        <li><a class="dropdown-item" href="{% url 'list_canceladas' %}">Canceladas</a></li>
                    </ul>
                </li>
            </ul>
            <div>
                <button type="button" class="btn btn-outline-light btn-sm">Sair</button>
            </div>
        </div>
    </div>
</nav>