{#<div class="margin-bottom-10">#}
{#    <input type="submit" class="btn btn-success margin-bottom-10" value="Atualizar Agendamentos"#}
{#           onclick="location.href='{% url 'refresh_datas' %}'">#}
{##}
{#    <a tabindex="0" class="btn btn-sm btn-light margin-left-10" role="button" data-bs-toggle="popover"#}
{#       data-bs-trigger="focus"#}
{#       title="Atualização de Agendamentos" data-bs-content="<p>A primeira vez que abrir o sistema#}
{#       clique em <strong>Atualizar Agendamentos</strong> para que a base de dados seja atualizada#}
{#       e funcionar normamente.</p>#}
{#       <p><strong>Obs.: </strong> É necessário clicar apenas uma vez por dia na atualização de agendamentos!</p>#}
{#       <p><strong>Importante: </strong> A data do computador deve estar correta!</p>#}
{#        ">#}
{#        Por que atualizar?#}
{#    </a>#}
{#</div>#}


{#<script>#}
{#    setTimeout(function () {#}
{#        window.location.href = "{% url 'refresh_datas' %}";#}
{#    }, 300000);#}
{#    console.log("recarregou")#}
{#    alert("foi")#}
{#</script>#}


{#<script>#}
{#    let update_manutencoes = setTimeout(function () {#}
{#        window.location.href = "{% url 'refresh_datas' %}";#}
{#    }, 300000);#}
{#    clearTimeout(update_manutencoes)#}
{#</script>#}